<div class='about page-box'>
  <h2 class='page-header'>About</h2>

  <h3>We Are Appmen at Heart</h3>
  <p>
    DatApp was created to attempt to showcase some things that <em>developers</em> are doing in New Orleans.
    We've seen our friends and colleauges make some pretty unique and amazing stuff that never sees the light of day.
    Oddly enough, the tech community blogs and websites rarely seem to showcase these things.
    We want to provide a place for developers to submit their applications and a place for New Orleanians to try them out and maybe give some feedback.
  </p>

  <h3>Rules & Process</h3>
  <p>
    In order to submit an application, your application must be made in New Orleans and must be immediately usable by New Orleanians.
    What the latter part means is really subject to the opinion of the admins.
    After you submit your application it will be in a pending state. You will recieve an email with the details.
    After the admins have approved it we will tweet out a link to the application to our followers and publish it to the top of the front page list.
  </p>

  <h3>Credits</h3>
  <p>
    DatApp is made with love by <a href="https://twitter.com/bhelx">@bhelx</a> and <a href="https://twitter.com/vaerros">@vaerros</a>.
    Please tweet at us if you are interested in contributing or have some ideas in mind.
  </p>
</div>
