<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>App was submitted</h1>

    <p>
      <b>Name:</b>
      <%= @app.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @app.description %>
    </p>

    <p>
      <b>Developer:</b>
      <%= @app.developer %>
    </p>

    <p>
      <b>Application url:</b>
      <%= @app.application_url %>
    </p>

    <p>If any of this seems in error please reply to the admins who are cc'd on this email.</p>

  </body>
</html>
