<div id="errors-page">
  <div class="thumbnail.errors">
    <div class="errors-500"></div>
    <div class="caption">
      <h5>Sorry</h5>
    </div>
  </div>
  <h1>500 Internal Server Error</h1>
  <div class="error-msg">
    <%= @log %>
  </div>
</div>
