<div class='app-confirmation page-box'>
  <h2>Your app has been submitted</h2>

  <p class='confirmation-message'>We'll review the submission and get back to you.</p>
  <a class='return btn' href='/'>Return</a>
</div>
