<div class='app-confirmation page-box'>
  <h2>Your submission has been sent</h2>

  <p class='confirmation-message'>A confirmation email will be sent shorty.</p>
  <a class='return btn' href='/'>Return</a>
</div>