
<ul>
<% @apps.each do |app| %>
  <li>
    <div class="description">
      <h3><%= app.name %></h3>
      <p><%= app.description %></p>
    </div>
    <img src="<%= app.image %>">
  </li>
<% end %>
</ul>
