<div class="apps">
<ul>
<% @apps.each do |app| %>
  <a href="<%= app.application_url %>"><li>
    <div class="description">
      <h3><%= app.name %></h3>
      <p><%= app.description %></p>
    </div>
    <div class="app_image"><img src="<%= app.image.url(:medium) %>"></div>
  </li></a>
<% end %>
</ul>
</div>
