// basic and component/widget styling

body {
  background: #F1F1F1;
  color: #272727;
  font-family: 'Lato', sans-serif;
  font-size: 85%;
  margin: 0;
}

h2 {
  font-size: 200%;
  font-weight: normal;
}

a, button {
  cursor: pointer;
}

a {
  color: #513756;
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

input, textarea, button {
  font: inherit;
}

input[type='text'], input[type='email'], textarea {
  transition: all 0.15s linear;
  box-shadow: 0 1px 4px rgba(175,175,175,0.35) inset;
  border-radius: 4px;
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  padding: 0.75em;

  &:focus {
    outline: none;
    background: #F5F5F5;
  }
}

input[type='file']:focus {
  outline: 1px dotted;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  &.bulleted {
    list-style: disc;
    padding-left: 1.5em;
  }
}

::selection {
  background: #7A5281;
  color: white;
  text-shadow: none;
}

.icon {
  color: #7A5281;
  &.icon-warning-sign { color: #A63232; }
}

.btn {
  transition: all 0.15s linear;
  outline: none;
  border-radius: 4px;
  background: #513756;
  color: white;
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 0.75em;
  display: inline-block;

  &:focus, &:hover {
    background: #7A5281;
    text-decoration: none;
  }

  &.wide {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.white-box {
  box-shadow: 0 1px 2px rgba(150,150,150,0.25);
  border-radius: 4px;
  border: 1px solid #DDD;
  background: white; 
}

.page-box {
  @extend .white-box;
  padding: 0 1em 1em;
  margin: 1em 0;

  .page-header {
    text-align: center;
    border-bottom: 1px solid #DDD;
    padding: 1em 0;
    margin: 0;

    h2 {
      margin: 0;
    }
  }
}

.pitch-text {
  text-shadow: 0 1px white;
  font-size: 200%;
}

.hint-text {
  color: #888;
  font-size: 85%;
}

// Input element with a prepended symbol
.prepended-input {
  display: inline-block;
  position: relative;

  .symbol {
    color: #888;
    font-size: 1.35em;
    line-height: 1;
    padding: 0.56em;
    position: absolute;
    left: 0;
    top: 0;
  }

  input {
    padding-left: 2em;
  }
}
