// Utility mixins, classes, etc.

@mixin anchor-reset {
  color: inherit;
  text-decoration: none;
}

@mixin button-reset {
  border: none;
  background: none;
  font: inherit;
  padding: 0;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}

// Apply rules based on loose screen sizes(widths)
@mixin respond-to($screen-size) {
  @if $screen-size == tiny-screen {
    @media (max-width: 35em) { @content; }
  }

  @if $screen-size == small-screen {
    @media (max-width: 55em) { @content; }
  }

  @if $screen-size == medium-screen {
    @media (max-width: 75em) { @content; }
  }
}
