// Utility mixins, classes, etc.

@mixin anchor-reset {
  color: inherit;
  text-decoration: none;
}

@mixin button-reset {
  border: none;
  background: none;
  font: inherit;
  padding: 0;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}
