/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
}

header {
  height: 100px;
  width: 100%;
  margin: 0px auto;
  background: #eee;
}
header h1 {
  position: relative;
  padding: 20px;
  margin: 0px;
}

.submission {
  position: absolute;
  top: 24px;
  right: 34px;
}

ul {
  margin-top: 40px;
}

li {
  margin-top: 20px;
  list-style: none;
}

li h3 {
  float: left;
}

li img {
  float: left;
  margin-left: 20px;
}

