// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-content {
  width: 75em;
  margin: 1em auto;

  @include respond-to(small-screen) { width: auto; }
  @include respond-to(medium-screen) { width: auto; padding: 0 1em; }
}

.main-header {
  background: #090B13;
  color: #FFF;
  text-align: right;

  .inner {
    width: 75em;
    height: 3em;
    line-height: 3em;
    padding: 1em;
    margin: 0 auto;
    overflow: hidden;

    @include respond-to(small-screen) { width: auto; }
    @include respond-to(medium-screen) { width: auto; }
  }

  h1 {
    font-size: 175%;
    margin: 0;
    float: left;

    img {
      vertical-align: middle;
    }
  }

  a {
    @include anchor-reset;
    font-weight: normal;

    // move anchor focus styling at some point
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  .about {
    margin-right: 1ex;

    &::after {
      content: '';
      border-right: 1px solid #171717;
      border-left: 1px solid #000;
      margin-left: 1ex;
    }
  }

  .twitter-follow-button {
    vertical-align: middle;
  }
}

.main-pitch {
  @include clearfix;
  border-bottom: 1px solid #FFF;
  background: #111625;
  color: #FFF;
  text-align: center;
  padding: 4em 0;

  @include respond-to(medium-screen) {
    text-align: center;
  }

  p {
    text-shadow: 0 1px #000;
    margin: 0 0 1em;

    @include respond-to(medium-screen) {
      margin-bottom: 1em;
    }
  }

  a {
    @include box-shadow(0 4px 0 0 #322236);
    font-size: 150%;
    padding: 0.75em 2em;

    @include respond-to(medium-screen) {
      float: none;
      clear: left;
      margin: 0 1em;
    }

    @include respond-to(small-screen) {
      display: block;
    }
  }
}

.apps {
  @extend .page-content;
  @include clearfix;

  @include respond-to(medium-screen) {
    @include display-box;
  }

  @include respond-to(small-screen) {
    display: block;
  }

  .app-listing {
    @extend .white-box;
    padding: 0.5em;
    width: 37em;
    height: 15em;
    margin-bottom: 1em;
    float: left;
    @include box-sizing(border-box);
    overflow: hidden;

    &:nth-child(even) {
      margin-left: 1em;
    }

    @include respond-to(medium-screen) {
      @include box-flex(2);
      float: none;
    }

    @include respond-to(small-screen) {
      @include box-flex(none);
      width: 100%;
      &:nth-child(even) { margin: 0; }
    }

    @include respond-to(tiny-screen) {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: table;

      &:nth-child(even) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    // maintains 4:3 aspect ratio
    img {
      border-radius: 4px;
      width: 20em;
      height: 100%;
      margin-right: 1ex;
      float: left;

      @include respond-to(tiny-screen) {
        width: auto;
        height: auto;
        float: none;
      }
    }

    .app-details {
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .app-name {
      font-size: 115%;
      margin: 0;
    }

    .app-developer {
      color: #888;
      font-size: 85%;
      margin-top: 0;
    }

    .view-app {
      text-align: center;
      height: 1.5em;
      line-height: 1.5em;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      @include respond-to(tiny-screen) {
        position: static;
        display: block;
      }
    }
  }
}

.app-submit {
  @extend .page-content;
  @extend .page-box;

  form {
    display: table;
    margin: 1em auto;

    @include respond-to(small-screen) {
      display: block;
    }

    .fields > li {
      margin: 1em 0;
    }

    input, textarea, button[type='submit'], .prepended-input {
      display: block;
    }

    input[type='text'], textarea, button[type='submit'] {
      @include box-sizing(border-box);
      width: 25em;
      margin-top: 0.25em;

      @include respond-to(small-screen) {
        width: 100%;
      }
    }

    button[type='submit'] {
      padding: 0.75em 3em;
      margin-top: 2em;
    }

    // move later
    .field_with_errors label {
      color: #A63232;
      font-weight: bold;
    }
  }
}

.app-confirmation {
  @extend .page-content;
  text-align: center;

  .confirmation-message {
    margin: 2em 0;
  }

  .return {
    padding: 1em 3em;

    @include respond-to(tiny-screen) {
      display: block;
    }
  }
}

.app-show {
  @extend .page-content;

  .page-box {
    @include clearfix;
    padding-top: 1em;
    position: relative;
  }

  .page-header {
    text-align: left;
    padding-top: 0;
  }

  .app-author {
    @extend .hint-text;
    font-size: 100%;
    margin: 0;
  }

  .app-image {
    border-radius: 4px;
    max-width: 45em; // approximation
    float: left;
    margin-right: 1em;

    @include respond-to(tiny-screen) {
      max-width: 100%;
      margin: 0 auto 1em;
      display: block;
      float: none;
    }
  }

  .visit-app {
    position: absolute;
    top: 1em;
    right: 1em;

    @include respond-to(small-screen) {
      text-align: center;
      display: block;
      position: static;
    }
  }

  .app-details {
    overflow: hidden;
  }
}

.about-page {
  @extend .page-content;
  @extend .page-box;
}
